.cards {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.header {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.items {
    position: relative;
    z-index: 10;
    background-image: url("./img/items.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 86%;
}

.noItemsText {
    padding-top: 230px;
    color: white;
    font-size: 50px;
}

.header_create_button {
    background: #01669e;
    color: white;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid red;
    padding: 10px;
    width: 550px;
    /*height: 250px;*/
    border-radius: 10px;
    z-index: 20;
    background-color: #01669e;
    display: none;
}

.modal__cross {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 10;
    display: none;
}

#comment {
    height: 136px;
    width: 100%;
}

.medCard {
    position: relative;
    top: 20px;
    left: 20px;
    width: 250px;
    height: 75px;
    background-color: aqua;
    border: 1px solid red;
    border-radius: 10px;
    z-index: 20;
    cursor: move;
}

.details {
    height: 250px;
}

.moreDetails {
    /*position: absolute;*/
    bottom: 0;
    right: 0;
    left: 0;
}

.inactive {
    display: none;
}

#namePatient, #purpose, #pressure, #mass_index, #diseases {
    margin-top: 5px;
    width: 550px;
}
#visitDate, #comment, .creating_card_doctor, #age {
    margin-top: 5px;
}
#visitDate:before {
    content: "дата визита";
    position: absolute;
    top: 90px;
    left: 120px;
}
.input_date_of_last_visit:before {
    content: "дата последнего визита";
    position: absolute;
    top: 264px;
    left: 40px;
}

